html, body, #gameCanvas {
	height: 100%;
	width: 100%;
}

body {
	background-color: black;
	margin: 0px;
}
#gameCanvas {
	background-color: black;
	/*
	width: 640px;
	height: 360px;
	*/
	width: 100%;
	height: 100%;
	margin: auto;
	align: center;
}

#scoreboard {
	position: absolute;
	text-align: center;
	font-family: Segoe UI, Helvetica, Ubuntu, sans-serif;
	color: white;
}
#scores {
	font-size:600%; 
	padding:0; 
	margin:0;
	color: white;
}
#title {
	background-color: white;
	color: black;
}

#pause {
	color: #f00;
	font-weight: bold;
	display: none;
}
